<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siscaproject.sisca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".Utilities.TSLBluetoothDeviceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".Activity.QRActivity" />
        <activity
            android:name=".Activity.BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityForm.FormNewAssetActivity"
            android:theme="@style/StandardTheme" />
        <activity android:name=".ActivityForm.FormNewStatusLabelActivity" />
        <activity android:name=".ActivityForm.FormNewAssetsModelActivity" />
        <activity android:name=".ActivityForm.FormNewCategoryActivity" />
        <activity android:name=".ActivityForm.FormNewManufacturerActivity" />
        <activity android:name=".ActivityForm.FormNewSupplierActivity" />
        <activity android:name=".Activity.SplashScreenActivity" />
        <activity android:name=".Activity.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DetailMonitoringActivity" />
        <activity android:name=".Activity.DetailMutationActivity" />
        <activity android:name=".Activity.DetailAsetActivity" />
        <activity android:name=".Activity.SearchActivity"></activity>
    </application>

</manifest>